@charset "utf-8";
/* CSS Document */

body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

footer {
	background-color: #CA1429;
	color: white;
	display: grid;
    grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.Kurt {
	color: lightgrey;
	font-size: 0.75em
}

img.social-link {
	width: 1.25em;
}

.contact-info {
	background-color: #CA1429;
	display:flex;
	flex-direction:column;

}

.socials {
	display:flex;
	flex-direction:row;
	
}

.socials .social-link {
	margin:1em 0.075em;
}

.fone-number h3, .fone-number p {
	margin-block: .15em;
	margin:0
}

.other-links {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.other-links a {
	width: 50%
}

<<<<<<< HEAD
a {
=======
footer a {
>>>>>>> parent of 566618b (footer update 3)
	color:lightgrey;
}
