@charset "utf-8";
/* CSS Document */

.astheticicon1, .astheticicon2, .astheticicon3, .astheticicon4, .astheticicon5, .astheticicon6, .astheticicon7, .astheticicon8, .astheticicon9, .astheticicon10, .astheticicon11, .astheticicon12
{
position:absolute;
overflow:none;
}


.astheticicon1
{
	right:10vw;
	top:355vh;
	z-index:-10;
	transform:rotate(-45deg);
}


.astheticicon2
{
	left:10vw;
	top:420vh;
	z-index:-10;
	transform:scaleX(-1);
	
}

.astheticicon3
{
	right: 10vw;
	top: 208vh;
	z-index:-10;
	transform:rotate(25deg);
	
}

.astheticicon4
{
	left: 10vw;
	top: 250vh;
	z-index:-10;
	
	transform:rotate(-25deg);
	
}

.astheticicon5
{
	left: 15vw;
	top: 160vh;
	z-index:-10;
	transform:rotate(-25deg);
	
}



.astheticicon6
{
	right: 10vw;
	top: 130vh;
	z-index:-10;	
	
	transform:rotate(35deg);
	
}


.astheticicon7
{
	right: 10vw;
	top: 400vh;
	z-index:-10;	
	
	transform:rotate(30deg);
	
}


.astheticicon8
{
	left: 10vw;
	top:400vh;
	z-index:-10;	
	
	transform:rotate(45deg);
	
}

.astheticicon9
{
	left: 10vw;
	top:500vh;
	z-index:-10;	
	
	transform:rotate(20deg);
	
}

.astheticicon10
{
	left: 10vw;
	top:500vh;
	z-index:-10;	
	
	transform:rotate(-30deg);
	
	
}

.astheticicon11
{
		left: 10vw;
	top:500vh;
	z-index:-10;	
	
	transform:rotate(45deg);
	
	
}

.astheticicon12
{
	
		right: 10vw;
	top:500vh;
	z-index:-10;	
	
	transform:rotate(35deg);
	
}
