@charset "utf-8";
/* CSS Document */


.tidligere-studerende-stylebox
{
	height:100%;
	width:100%;
	background-color: #F05C6D;
	align-items:center;
	justify-content: center;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	min-width:100px;
	
	border-radius:5px;
	

	
}


#tidligere-studerende-overskrift
 {
	padding-top:20px;
	margin-bottom:50px;
}


.tidligere-studerende-infoboks

{
	margin:auto;
	height:100%;
	width:100%;
	background-color:rgba(67,67,67,0.40);
	
	display:grid;
	grid-template-columns:50% 50%; 
	min-width:1000px;
	max-width:1070px;
	text-align:center;
	max-height: 590px;
	border-radius:5px;

	
}


.images
{
	height:200px;
	width:200px;
}

.tidligere-studerende-billeder
{
	
	opacity:100%;
	display:grid;
	grid-template-columns:25px 1fr 25px 1fr 25px;
	grid-template-rows:25px 1fr 25px 1fr 25px;
	max-height: 1590px;
	
	
	
	
}

#billede
{

	border-radius:5px;
	
}

#billedeshadow
{
box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.40) ;
}

#billede2
{
	
	border-radius:5px;

}

#billedeshadow2
{
	box-shadow: 10px -5px 5px 2px rgba(0,0,0,0.40);
}

.tidligere-studerende-infotekst
{
	width:inherit;
	height:100px;
	opacity:100%;
	display:flex;
	text-align:center;
	justify-content: center;
	max-height: 590px;
}


#infotekst-tss
{
    height: 100px;
	text-align:center;
	justify-content: center;
	display:flex;
	


	
}

#infotekst-ts
{
	text-align:center;
	justify-content: center;
	max-height: 590px;
	margin-right:25px;
}



.boxshadow-tidligere-studerende
{
	opacity:60%;
	height:20px;
	width:1144px;
	background-color:rgba(240,92,109,0.60);
	margin-left:auto;
	margin-right:auto;
	clip-path: polygon(0.2% 0, 100% 0%, 99.8% 100%, 0 100%);
	border-radius: 0 0 5px 5px;
}


