@charset "utf-8";
/* CSS Document */

.astheticicon1, .astheticicon2, .astheticicon3, .astheticicon4, .astheticicon5, .astheticicon6, .astheticicon7, .astheticicon8, .astheticicon9, .astheticicon10, .astheticicon11, .astheticicon12
{
position:absolute;
}


.astheticicon1
{
	right:10vh;
	top:355vh;
	z-index:2;
	transform:rotate(-45deg);
}


.astheticicon2
{
	left:10vh;
	top:475vh;
	z-index:2;
	transform:scaleX(-1);
	
}

.astheticicon3
{
	right: 10vh;
	top: 208vh;
	z-index:2;
	transform:rotate(25deg);
	
}

.astheticicon4
{
	left: 5vh;
	top: 250vh;
	z-index:-1;
	
	transform:rotate(-25deg);
	
}

.astheticicon5
{
	left: 15vh;
	top: 160vh;
	
	transform:rotate(-25deg);
	
}



.astheticicon6
{
	right: -5vh;
	top: 130vh;
	z-index:2;	
	
	transform:rotate(35deg);
	
}


.astheticicon7
{
	right: 2vh;
	top: 580vh;
	z-index:1;	
	
	transform:rotate(30deg);
	
}


.astheticicon8
{
	left: 160vh;
	top:480vh;
	z-index:3;	
	
	transform:rotate(45deg);
	
}

.astheticicon9
{
	left: -2vh;
	top:700vh;
	z-index:3;	
	
	transform:rotate(20deg);
	
}

.astheticicon10
{
	left: -2vh;
	top:715vh;
	z-index:3;	
	
	transform:rotate(-30deg);
	
	
}

.astheticicon11
{
		left: 25vh;
	top:715vh;
	z-index:3;	
	
	transform:rotate(45deg);
	
	
}

.astheticicon12
{
		right: -5vh;
	top:690vh;
	z-index:1;	
	
	transform:rotate(-35deg);
	
}
