@charset "utf-8";
/* CSS Document */



.center-box-partners
{
	display:flex;
justify-content: center;

}


.box-for-partners

{
display:flex;
justify-content: center;
item-align:center;
background-color:#F05C6D;
width:1360px;
height:738px;
}
