@charset "utf-8";
/* CSS Document */
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
.slider-box {
        background: #747474;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5%;
		margin-bottom: 5%;
		border-bottom: 10px solid #242424;
		border-top: 10px solid #c4c4c4;
		border-left: 10px solid #9c9c9c;
		border-right: 10px solid #4c4c4c;
		justify-content: center;
		position: relative;
	    filter: drop-shadow(-10px 10px 2px #6A6A6A);
		width: 80%;
		z-index: 1;
}
.slide{
    width: 80%;
    height: 80vh;
}